<div ng-controller="ticketCtrl">
	<div class="row" ng-show="postFields">
		<div class="column" id="postCol1">
			<p ng-repeat="fields in postFields">{{fields}}</p>
		</div>
	</div>

	<!--
	<div class="center">
		<div class="centerColumn">Col3</div>
	</div>
	-->
	<form>
		<p><input type="text" ng-model="formID"> ID</p>
		<p><input type="text" ng-model="formComments"> Comments</p>
		<md-button class="md-raised md-primary" ng-click="postButton()">Post</md-button>
		<md-button class="md-raised" ng-click="getButton()">Get</md-button>
	</form>
</div>