<!DOCTYPE html>
<html lang="en" ng-app="ticketApp" ng-controller="ticketCtrl">
<head>
	<base href="/">
	<title>Ticket App</title>

</head>

<body>
	<div  class="container">
		<p ng-repeat="test in tests">{{test}}</p>
	</div>
	<ng-view></ng-view>
	<a href="/test">Click me</a>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="/controllers/appController.js"></script>

</html>